body {
    background-color: white;
}

.container_home {
    margin-top: 20px;
}

.container_projetos {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_projetos img {
    width: 500px;
    max-width: 100%;
    border: 2px solid black;
    margin: 10px;
}


div.container_usuarios {
display: flex;
justify-content: center;
align-items: center;
}

.container_usuarios {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-wrap: wrap; /* Permite quebra de linha se necessário */
    max-width: 800px; /* Defina uma largura máxima */
    margin: 0 auto; /* Centraliza a div no contêiner pai */
    padding: 20px; /* Espaçamento interno, se necessário */
}


.container_usuarios > div {
    display: flex;
    flex-direction: column; /* Coloca a imagem e o nome em coluna */
    align-items: center; /* Centraliza os itens dentro de cada div */
}

.container_usuarios img {
width: 40%;
border-radius: 50%;
}

.home-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.link-button {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f0f2f5;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: background-color 0.3s;
}

.link-button .icon {
    margin-right: 8px;
    font-size: 20px;
}

.link-button:hover {
    background-color: #e0e4e8;
}
